@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.container {
    background-color: #FFFAFA;
    width: 100%;
    height: calc(100vh);
    display: flex;
    justify-content: center;
    align-items: center;
}

.zunip {
    box-shadow: 0px 0px 41px -18px #00000050;
    border-radius: 5px;
    position: relative;
    width: 400px;
    display: grid;
    grid-template-rows: 1fr 408px 0fr;
}

.header {
    background-color: #075ebd;
    width: 100%;
    height: 100px;
    border-radius: 5px 5px 0 0;
    padding: 12px;
    display: flex;
    align-items: center;
}

.header .perfil img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    object-fit: cover;
    border: 4px solid #e54343;
    border-radius: 50%;
}

.info {
    width: 100%;
}

.info span {
    color: white;
    display: block;
}

.info .name {
    font-weight: 700;
    margin-bottom: 3px;
    letter-spacing: 0.6px;
}

/* ========== CORPO DA PÁGINA ========== */
.zunip main .chat {
    background-color: #075ebd;
    width: 100%;
    padding: 12px;
    border-radius: 0 0px 5px 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.zunip .chat .image {
    margin-right: 10px;
    cursor: pointer;
}

.zunip .chat .image span,
.zunip .chat button span {
    color: #6796c9;
    transition: 300ms;
}

.zunip .chat .image span:hover,
.zunip .chat button span:hover {
    color: white;
}

.zunip .chat textarea {
    width: 100%;
    max-width: 308px;
    min-width: 308px;
    max-height: 40px;
    min-height: 40px;
    background-color: #eeeeee;
    border: none;
    padding: 8px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #111111;
    border: 1px solid #dad7d7;
    border-radius: 10px;
}

.zunip .chat textarea:focus-within {
    outline: none;
}

.zunip .chat .send-button {
    background-color: #075ebd;
    padding: 0;
    border: none;
    margin-left: 10px;
    cursor: pointer;
}

/* ========== MESSAGE ========== */
.message {
    padding: 10px 20px;
    overflow: scroll;
}

.message .user {
    background-color: #348dec;
    color: white;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    margin: 5px 0;
}

.message .visit {
    background-color: #e54343;
    color: white;
    width: 50%;
    padding: 10px;
    border-radius: 20px;
    margin-left: 50%;
}

/* ========== SCROLLBAR */
/* width */
::-webkit-scrollbar {
    width: 8px;
    height: 0;
}
  
/* Track */
::-webkit-scrollbar-track {
/* box-shadow: inset 0 0 5px #808080;  */
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #cecece;
border-radius: 10px;
}

/* Handle on hover */
/* ::-webkit-scrollbar-thumb:hover {
background: #b30000; 
} */